* {
    box-sizing: border-box;
}
body {
    font-family: Verdana, Arial, sans-serif;
    color: #000000;
    background-color: #1ABC9C;
    min-height: 100vh;
    margin: 0; 
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* .header {
    border: 1px solid red;
}
.main {
    border: 1px solid red;
}
.footer {
    border: 1px solid red;
} */
.container {
    max-width: 1440px;
    margin: 0 auto;
    border: 1px solid red;
}